@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<h1>
    Ajuda
</h1>
<br />

<h6>Este trabalho foi feito pelo grupo 2:</h6>

<br />

<h6>
    Bruno Sampaio nº 68753 <br />
    Cristiano Fernandes nº 68493 <br />
    Diogo Marques nº 68738 <br />
    Telmo Leal nº 68645 <br />
</h6>

<br />
<h6>Laboratório 3ºano - Engenharia Informática</h6>
